h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  @apply text-balance;
}

*::marker {
  @apply hidden!;
}

:root {
  color-scheme: light;
}

:root[data-mode$='-dt'],
:root[data-theme='dark'] {
  color-scheme: dark;
}

input,
textarea {
  @apply placeholder:text-(--schemes-on-surface-variant);
}

body,
html {
  font-family: var(--font-family);
  font-size: 14px;

  @apply h-screen text-(--schemes-on-surface) font-normal leading-6 overflow-hidden;
}

body {
  background-color: var(--schemes-surface-container);

  @media screen and (max-width: 768px) {
    background-color: var(--schemes-surface);
  }
}

input,
select,
button,
textarea,
.btn {
  font-family: var(--font-family);

  @apply appearance-none border-0 outline-0 text-base font-normal;

  &:required,
  &:invalid {
    @apply shadow-none;
  }

  &::-moz-focus-inner {
    @apply border-0!;
  }
}

:where(a) {
  @apply no-underline cursor-pointer focus:text-(--schemes-primary);

  color: var(--schemes-on-surface);

  &:hover {
    color: var(--schemes-primary);
  }
}

button,
[role='button'] {
  @apply touch-manipulation select-none cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-(--schemes-primary);
}

* {
  @apply focus-visible:ring-0 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-(--schemes-primary);

  &::selection {
    @apply bg-(--schemes-primary) text-(--schemes-on-primary);
  }
}
