.skeleton {
  .pulse,
  &.pulse {
    @apply bg-(--schemes-surface-container-high);
    animation: skeleton-pulse 2s infinite;
  }
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
