:root {
  --font-family: Roboto, system-ui, sans-serif;
  --footer-height: 84px;

  @media screen and (max-width: 768px), screen and (max-height: 500px) and (pointer: coarse) {
    --footer-height: 96px;
  }
}
